.card::-webkit-scrollbar {
  display: none;
}

.scrollBar {
  background-color: #8e44ad;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.card {
  background-color: #222;
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}

.card--content {
  background-color: #e74c3c;
  min-width: 200px;
  margin: 5px;
}
