@media screen and (min-width: 600px) {
  iframe {
    height: 100vh;
    width: 25vw;
    right: 0;
    top: 0;
    position: fixed;
  }
}

@media screen and (max-width: 600px) {
  iframe {
    height: 10vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
  }
}
