.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.socialWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: RGBA(3, 3, 4, .4);
  border-radius: 15px;
  border: RGBA(0, 0, 0, .4) 3px solid;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, .3);
  padding: 0 25px;
  margin-top: 25px;
}

.contactMain {
  background: red;
  width: 90%;
  height: 80%;
}

.contactFooter {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 5px 0;
  margin-top: 0;
}

.socialTitle {
  font-size: 4vh;
}

.iconCredits {
  font-size: .5vh;
  color: white;
}

.socialIcon {
  max-height: 32px;
  max-width: 32px;
  width: auto;
  margin-bottom: 0;
  background: rgba(255, 255, 255, .3);
  border-radius: 15px;
  border: 2px black solid;
}

.socialDescription {
  margin-top: 0;
  font-size: 2vh;
  line-height: 2.2vh;
}

.socialModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
