a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blue;
}

@media screen and (min-width: 600px) {
  .header {
    width: 75vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
    text-align: center;
  }

  .title {
    flex-grow: 2;
  }

  .description {
    flex-grow: 2;
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
    text-align: center;
  }

  .title {
    flex-grow: 1;
    font-size: 50px;
    margin-bottom: 0;
    font-size: 30px;
  }

  .description {
    font-size: 20px;
    flex-grow: 2;
  }
}
