a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: rgba(250, 250, 250, .8);
}

.title {
  font-size: calc(8vh * .5);
}

.description {
  font-size: calc(8vh * .3);
}

@media screen and (min-width: 600px) {
  .subHeader {
    text-align: left;
  }

  .title {
    width: 90%;
  }

}

@media screen and (max-width: 600px) {
  .subHeader {
    text-align: center;
  }
}
