.introWrapper {
  height: 80vh;
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.imageWrapper {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.introPhoto {
  display: block;
  border-radius: 35px;
  border: black 5px groove;
  max-height: 400px;
  max-width: 325px;
  width: 100%;
  height: auto;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 85%;
  overflow: scroll;
}


.introDescription {
  text-align: left;
  margin-top: -15px;
  width: 75%;
  color: white;
  font-size: 20px;
  line-height: 25px;
}


@media screen and (max-width: 600px) {
  .introWrapper {
    height: 65vh;
  }
}
@media screen and (max-width: 1000px) {
  .introWrapper {
    flex-direction: column;
  }
  .textWrapper {
    width: auto;
  }
  .imageWrapper {
    padding-bottom: 15px;
  }
}
