.introWrapper {
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.imageWrapper {
  background: RGBA(3, 3, 4, .4);
  border-radius: 15px;
  border: RGBA(0, 0, 0, .4) 3px solid;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, .3);
  max-width: 90%;
  height: 30%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: calc(10vw * .12);
  line-height: calc(10vw * .3);
}

.introPhoto {
  max-width: 300px;
  max-height: 250px;
  margin: 2vh 2vw;
  width: auto;
  height: 90%;
  border-radius: 15px;
  border: 5px black solid;
}

.introTitle {
  max-width: 80%;
  text-align: left;
  margin-right: 15px;
}

.introTitle2 {
  font-size: calc(20vw * .1);
  font-weight: bold;
}

.textWrapper {
  background: RGBA(3, 3, 4, .4);
  border-radius: 15px;
  border: RGBA(0, 0, 0, .4) 3px solid;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  text-align: left;
  height: 60%;
  max-width: 650px;
}

.introDescription {
  padding: 0 10%;
  overflow-x: auto;
  max-width: 330px;
  width: auto;
}

@media screen and (max-width: 650px) {
  .introWrapper {
    flex-direction: column;
  }

  .imageWrapper {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    flex-direction: column;
  }

  .textWrapper {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .introPhoto {
    max-height: 250px;
    max-width: 300px;
    height: 100%;
    width: auto;
  }

  .introTitle {
    font-size: 2.5vh;
    line-height: 3vh;
    max-width: 260px;
  }

  .introTitle2 {
    font-size: 2vh;
    font-weight: bold;
    max-width: 260px;
  }
}

@media screen and (min-width: 1000px) {
  .introWrapper {
    flex-direction: row;
  }

  .imageWrapper {
    flex-direction: column;
    max-height: 80%;
    height: 80%;
    max-width: 40%;
    width: auto;
  }

  .introTitle {
    text-align: left;
    font-size: 22px;
    max-width: 250px;
  }

  .introTitle2 {
    font-size: 18px;
  }

  .textWrapper {
    max-height: 80%;
    height: 80%;
    max-width: 55%;
    width: auto;
  }
}
